<div class="col-md-10 col-md-offset-2 productDescription">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="http://placehold.it/550x350">
		</div>
	</div>
	<div class="col-md-8">
		<div class="caption">
			<span class="item-title" ng-bind="$ctrl.product.name"></span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis saepe sapiente, consequatur et. Voluptates architecto assumenda sunt reprehenderit autem, blanditiis!</p>
			<p>
				<a href="#" class="btn btn-primary" role="button">Buy</a>
			</p>
		</div>
	</div>
</div>