<header>
	<nav class="navbar navbar-default full-width">
		<div class="container-fluid">
			<div class="navbar-header">
				<a id="logo" class="navbar-brand" ui-sref="home">Shop</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ui-sref="registration">Registration</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>
</header>