<a ui-sref="categories" ng-click="$ctrl.getCategories()" class="thumbnail text-center">
	<span ng-bind="$ctrl.category.title"></span>
	<img class="category-item-image" src="http://placehold.it/250x50" >
</a>