<div class="thumbnail">
	<img class="product-item-image" src="http://placehold.it/300x200">
	<div class="caption">
		<h3 ng-bind="$ctrl.product.name"></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis libero enim, molestias consequatur reiciendis laborum
			labore a. Amet, facere, porro.</p>
		<a ui-sref="productDescription({id: $ctrl.product._id})" class="btn btn-primary">Detail</a>
	</div>
</div>