<div class="category-list">
	<div class="col-md-3" ng-repeat="category in $ctrl.categories track by $index">
		<category-item category="category" get-categories="$ctrl.getCategories(category._id)"></category-item>
	</div>
</div>