// Open Sans
@OpenSansPath: "../../../node_modules/open-sans-fontface/fonts";
@font-face {
  font-family: 'Open Sans';
  src: url('@{OpenSansPath}/Regular/OpenSans-Regular.eot');
  src: url('@{OpenSansPath}/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('@{OpenSansPath}/Regular/OpenSans-Regular.woff') format('woff'),
       url('@{OpenSansPath}/Regular/OpenSans-Regular.ttf') format('truetype'),
       url('@{OpenSansPath}/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}