@import './fonts.less';

body {
  font-family: 'Open Sans';
}

#logo {
  font-size: 35px;
}

.full-width {
  width: 100%;
  padding: 5px;  
  margin-bottom: 0;
}

.category-list, 
.product-list, 
.register-form,
.productDescription {
  padding-top: 20px;
}

.category-item-image, .product-item-image {
  width: 100%;
}

.item-title {
  font-size: 24px;
  font-weight: bold;
}