<div class="register-form">
	<div class="col-md-6">
		<form ng-submit="$ctrl.toRegister()">
			<div class="form-group">
        <h1>Registration</h1>
      </div>
			<div class="form-group">
				<label for="name">Your name</label>
				<input ng-model="$ctrl.name" type="text" class="form-control" id="name" placeholder="Name" required>
			</div>
			<div class="form-group">
				<label for="email">Email address</label>
				<input ng-model="$ctrl.email" type="email" class="form-control" id="email" placeholder="Email" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input ng-model="$ctrl.password" type="password" class="form-control" id="password" placeholder="Password" required>
			</div>
			<input class="btn btn-success" type="submit" value="To register">
		</form>
	</div>
</div>